.card {
  padding: 16px;
  text-align: center;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #cccccc 100%);
  -webkit-box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #555;
}

.form-label-left {
  text-align: left;
}
.form-label-center {
  text-align: center;
}
.form-label-right {
  text-align: right;
}

.sortable {
  display: inline-block;
  width:   100%;
  height: auto;
}