* {
  box-sizing: border-box;
}

html, body {
  color: #3F3F3F;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  font-family: tahoma, arial, sans-serif;
  font-weight: bold;
  text-align: center;
  background: #2e97dd;
 }

/* Style the top navigation bar */
.header {
  overflow: hidden;
  color: white;
  text-align: right;
  padding-left: 50px;
  background-color: #2e97dd;
  border-bottom: 2px solid orange;
}

.header img {
  position:fixed;
  top:0;
  right:0;
  float: right;
}

.header div {

}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50%;
  text-align: left;
  z-index: -1;
  border-top: 3px solid orange;
    background: #ffffff;
      background: -moz-linear-gradient(top, #ffffff 0%, #dfd3b3 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #dfd3b3));
      background: -webkit-linear-gradient(top, #ffffff 0%, #dfd3b3 100%);
      background: -o-linear-gradient(top, #ffffff 0%, #dfd3b3 100%);
      background: -ms-linear-gradient(top, #ffffff 0%, #dfd3b3 100%);
      background: linear-gradient(to bottom, #ffffff 0%, #dfd3b3 100%);
}

.title {
  width: 100%;
  height: 100px;
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
  color: #fcfcfc;
}


.middle {
  height: auto;
  color: black;
  text-align: center;
  display: block;
  float: middle;
}

.status {
  padding: 16px;
  text-align: left;
  width: 65%;
  height: 55%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #cccccc 100%);
  -webkit-box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #555;
  overflow-x: hidden;
  overflow-x: auto;
}

/* Style the content */
.content {
  height: auto;
  width: auto;

}

/* Float four columns side by side */
.column {
  width: auto;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  padding: 16px;
  text-align: center;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  background: #fcfcfc;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #fcfcfc 0%, #cccccc 100%);
  -webkit-box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  box-shadow: 2px 2px 10px 0 rgba(50, 50, 50, 0.77);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #555;
}

.input {
  background-color: #FFFFFF;
  color: #4C4C4C;
  width: 190px;
  font-family: tahoma, arial, sans-serif;
  font-size: 12px;
  padding: 1px 2px 2px 2px;
}

input[type="text"]:disabled{
  background-color:lightgray;
}

.collapsable {
   padding: 3px 3px 3px 20px;
   border: 1px solid #7C849B;
  display: block;
}

.formButton {
  color: #4C4C4C;
  font-size: 18px;
  padding: 3px 3px 3px 3px;
  border: 1px solid #7C849B;
  float: middle;
}

.formButton:hover {
  background-color: #777;
  color: white;
}

.tablink {
  border: 1px solid #7C849B;
  float: left;
  width: 33%;
  display: inline-block; padding: 2px 8px;
  padding: 14px 16px;
  cursor: pointer;
  font-size: 18px;
  background: #f7f7f7;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #cccccc));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #cccccc 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #cccccc 100%);
  -webkit-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, 0.77);
  -moz-box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, 0.77);
  box-shadow: 4px 4px 5px 0 rgba(50, 50, 50, 0.77);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
}

.wwFormTable {
  text-align: left;
}
/* Style tab links */
.oldtab {
  background-color: #555;
  display: inline-block; padding: 2px 8px;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33%;
}

.tablink:hover {
  background-color: #777;
  color: white;
}

.messages {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  border-radius: 5px;
  width: 50%;
  bottom: 15px;
  left: 25%;
  height: 30%;
  margin: 0 auto;
  background-color: #dfd3b3;
}
.errors {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  border-radius: 5px;
  width: 50%;
  bottom: 0;
  left: 25%;
  height: 30%;
  margin: 0 auto;
  background: #ff9999;
}
.actionMessage {
   padding: 30px;
}

.ui-progressbar {
  height: 2em;
  text-align: left;
  overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
  background-color: #ccc;
}

#Import {background-color: red;}
#Export {background-color: green;}
#About {background-color: orange;}


