/* my code */
#menu-icon:before {
  content: "Menu";
  display: inline-block;
  width: 50px;
}

#menu-icon:after {
  content: "\2261";
  display: inline-block;
  width: 50px;
}

.nav-menu ul {
  display: none;
}

.nav-menu ul.visible {
   display: block;
  text-align: left;
  list-style-type: none;
}